{/include file="layouts/header.tpl"/}
<style>
.container{
  /*font-size:12px;*/
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/event?channel={/$channel/}">{/if $channel/}{/EventManager::$channelMap[$channel]/}{/else/}活动{//if/}</a></li>
          <li class="active">{/$eventData.event_type_detail/}</li>
      </ol>
      {/if $eventData.event_declare_detail/}<div class="alert alert-danger" role="alert">{/$eventData.event_declare_detail/}</div>{//if/}
      <div id="well" class="well">
        <form class="form-inline" role="form" id="form" action="/event" method="get">
          <div class="form-group">
            <label>活动名称：</label>
            <input type="text" class="form-control" name="event_name" value="{/$searchFilter['event_name']/}" placeholder="活动名称">
          </div>
          <div class="form-group">
            <label>活动标题：</label>
            <input type="text" class="form-control" name="title" value="{/$searchFilter['title']/}" placeholder="活动标题">
          </div>
          <div  class="form-group">
            <label>开始时间：</label>
            <input class="form-control date datepicker" name="start_time"  type="text" value="{/$searchFilter['start_time']/}"  data-date-format="yyyy-mm-dd">
          </div>
          <div  class="form-group">
            <input class="form-control date datepicker" name="end_time" type="text" value="{/$searchFilter['end_time']/}" data-date-format="yyyy-mm-dd">
          </div>
          <br/><br/>
          <div class="form-group">
            <label>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
            <select class="form-control" name="show_deletes_type" style="width:175px">
              {/html_options options=$eventDeleteType selected="{/$searchFilter['show_deletes_type']/}"/}
            </select>
          </div>
          <div class="form-group">
            <label>是否结束：</label>
            <select class="form-control" name="is_show_end" style="width:120px">
              <option value="">正在进行</option>
              <option value="1" {/if $searchFilter['is_show_end'] == 1/}selected{//if/}>显示全部</option>
            </select>
          </div>
          <input type="hidden" name="show_type" value="{/$searchFilter['show_type']/}">
          <input type="hidden" name="channel" value="{/$channel/}">
          <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="submit" class="btn btn-default">查看</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" {/if !$searchFilter['show_type'] || !array_key_exists($searchFilter['show_type'], $eventType)/}class="active"{//if/}><a href="/event?channel={/$channel/}" >全部</a></li>
          {/foreach $eventType as $k=>$v /}
            <li role="presentation" {/if $searchFilter['show_type'] == $k/}class="active"{//if/}>
              <a href="/event?show_type={/$k/}&channel={/$channel/}" >{/$v/}</a>
            </li>
          {//foreach/}
          <li style="float:right" class="active"><a class="btn btn-default btn-ms" href="/event/addEvent">创建活动</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top:5px;">
  <div class="dataBox col-md-12">
    <table class="table table-striped table-striped center">
      <thead>
        <tr>
          {/*<th class="td30"><input type="checkbox" class="selectAll"></th>*/}
          <th class="text-center">活动ID</th>
          <th class="text-center">活动名称</th>
          <th class="text-center">活动标题</th>
          <th class="text-center" style="width:75px;">类型</th>
          {/*<th class="text-center">状态</th>
          <th class="text-center">背景色</th>*/}
          <th class="text-center">开始时间</th>
          <th class="text-center">结束时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {/foreach $eventData.result as $k=>$v/}
          <tr id="dataList{/$v.event_id/}">
            {/*<td><input type="checkbox" class="listSelect"></td>*/}
            <td {/if $v.event_status == 'ok'/}style="background:#5cb85c;"{/else/}style="background:#d9534f;"{//if/}>{/$v.event_id/}</td>
            <td>{/$v.event_name/}</td>
            <td>{/$v.title/}</td>
            <td>{/$v.event_type/}</td>
            {/*<td>{/$v.event_status/}</td>
            <td style="background:{/$v.bg_color/}">{/$v.bg_color/}</td>*/}
            <td>{/date("Y-m-d H:i", $v.start_time)/}</td>
            <td>{/date("Y-m-d H:i", $v.end_time)/}</td>
            <td class="txtcenter" style="width:190px;"> 
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                操作 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {/if !$searchFilter.show_deletes_type/}
                  {/* 修改基本信息 */}
                  {/if $v.event_id == 1065/}
                    <li role="presentation"><a target="_blank" tabindex="-1" href="http://works.meiliworks.com/tuanht/edit_event?event_id={/$v.event_id/}">修改</a></li>
                  {/else/}
                    <li role="presentation"><a role="menuitem" href="/event/editBasicInfo?event_id={/$v.event_id/}">修改</a></li>
                  {//if/}
                  {/* 修改活动规则 */}
                  <li role="presentation"><a role="menuitem" href="/eventRule/editEventRule?event_id={/$v.event_id/}">修改活动规则</a></li>
                  {/* 商品操作 */}
                  {/if $v.status < 20/}
                    <li role="presentation"><a target="_blank"  tabindex="-1"href="http://works.meiliworks.com/tuanht/activity_goods?act_id={/$v.event_id/}">排期主题活动</a></li>
                  {//if/}
                  <li role="presentation"><a tabindex="-1" href="/event/editEvent?event_id={/$v.event_id/}">增删商品</a></li>
                  <li role="presentation" class="divider"></li>
                  {/if $v.status <20 /}
                    <li role="presentation"><a target="_blank" tabindex="-1" href="http://mapp.meilishuo.com/activity/tuan/hd/{/$v.event_id/}">MOB</a></li>
                    <li role="presentation"><a target="_blank" tabindex="-1" href="http://www.meilishuo.com/activity/tuan/tg512/?event_id={/$v.event_id/}">PC</a></li>
                  {//if/}
                  {/if $v.status >=20 and $v.status <30/}
                    <li role="presentation"><a target="_blank" tabindex="-1" href="http://mapp.meilishuo.com/tuan/list/{/$v.event_id/}">MOB</a></li>
                    <li role="presentation"><a target="_blank" tabindex="-1" href="http://www.meilishuo.com/tuan/list/{/$v.event_id/}">PC</a></li>
                  {//if/}
                  {/if empty($v.notice_id) /}
                    <li class="notice_new"><a href="/event/editNotice?event_id={/$v.event_id/}">创建公告</a></li>
                  {/else/}
                    <li class="notice_edit"><a href="/event/editNotice?event_id={/$v.event_id/}">编辑公告</a></li>
                  {//if/}
                  <li class=""  value="{/$v.event_id/}"><a class="deleteOne" href="/event/deleteEvent?event_id={/$v.event_id/}" >删除活动</a></li>
                {//if/}
                {/if $searchFilter.show_deletes_type == 1/}
                  {/*<li class="" value="{/$v.event_id/}"><a class="recoverOne" href="/event/recoverEvent?event_id={/$v.event_id/}">恢复活动</a></li>*/}
                {//if/}
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                审核 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
              {/if $v.status >=80 and $v.status <90/}
              	   <li role="presentation"><a target="_blank" href="/qingcang/qfirst/list?event={/$v.event_id/}&realStatus=10&channel={/$v.channel/}&business_type={/$v.business_type/}" >初审</a></li>
                   <li role="presentation"><a target="_blank" href="/qingcang/qsecond/list?event={/$v.event_id/}&realStatus=20&channel={/$v.channel/}&business_type={/$v.business_type/}" >复审</a></li>
              {/else/}
                {/if !$searchFilter.show_deletes_type/}
                   <li role="presentation"><a target="_blank" href="/audit/first?type=1&event={/$v.event_id/}&business=3&channel={/$v.channel/}&business_type={/$v.business_type/}" >初审</a></li>
                   <li role="presentation"><a target="_blank" href="/audit/second?type=1&event={/$v.event_id/}&business=3&channel={/$v.channel/}&business_type={/$v.business_type/}" >复审</a></li>
                   <li role="presentation"><a target="_blank" href="/audit/sample?type=1&event={/$v.event_id/}&business=3&channel={/$v.channel/}&business_type={/$v.business_type/}" >样审</a></li>
                  {/if $v.event_id != 1065 && $v.event_id != 2005/}
                    {/* <li role="presentation"><a target="_blank" href="/eventGoods/scheduleGoods?event_id={/$v.event_id/}&channel={/$v.channel/}&business_type={/$v.business_type/}" >商品排期</a></li> */}
                  {//if/}
                {//if/}
             {//if/}
              </ul>
            </div>
            {/if $v.status >=80 and $v.status <90/}
            	<a class="btn btn-success btn-xs" target="_blank" href="/qingcang/Qschedule/list?event={/$v.event_id/}&realStatus=40&channel={/$v.channel/}&business_type={/$v.business_type/}" >商品排期</a>
            	<a class="btn btn-success btn-xs" target="_blank" href="/qingcang/QensureSchedule/List?type=0&event={/$v.event_id/}&realStatus=50&channel={/$v.channel/}&business_type={/$v.business_type/}">已排期商品</a>
            {/elseif $v.event_id != 1065 && $v.event_id != 2005/}
               <a class="btn btn-success btn-xs" target="_blank" href="/eventGoods/scheduleGoods?event_id={/$v.event_id/}&channel={/$v.channel/}&business_type={/$v.business_type/}" >商品排期</a>
            {//if/}
            </td>
          </tr>
        {/foreachelse/}
          <tr><td colspan="13">暂无相关信息</td></tr>
        {//foreach/}
      </tbody>
    </table>
    {/include file="layouts/pager.html"/}
  </div>
  </div>
</div>
<script>
$(function(){
  $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
  }).on('changeDate', function(ev){
      $(this).datepicker('hide');
  });
});
</script>
{/include file="layouts/footer.tpl"/}