{/include file="layouts/header.tpl"/}
<title>人工报名</title>
<div class="container">
    <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="/takepart" >团购报名</a>
          </li>
          <li role="presentation">
            <a href="/takepart/newApply" >新版团购报名</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://works.meiliworks.com/tuanht/takepart?is_show_header=1"></iframe>
    </div>
  </div>
</div>
{/include file="layouts/footer.tpl"/}