<div style="line-height:24px;height: 30px; border-bottom: solid 1px #ccc; margin-bottom:4px;" class="col-md-12">
    <span class="level" style="color: #f69;">{/$twitter_info['goods_desc']/}</span>
</div>
<div class="col-md-6">
    <div class="img">
        <a target="_blank" href="http://www.meilishuo.com/share/item/{/$twitter_info['twitter_id']/}">
        <img data-src="holder.js/100%x200" alt="100%x200" src="{/$twitter_info['goods_image']/}" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;"></a>
    </div>
</div>
<div class="col-md-6">
    <p>{/$twitter_info['goods_title']/}</p>
    <p>tid：{/$twitter_info['twitter_id']/}</p>
    <p>商铺：{/$twitter_info['shop_id']/}</p>
    <p>销量：{/$twitter_info['sale_num']/}</p>
    <p>价格：{/$twitter_info['goods_price']/}</p>
</div>