{/* 消息提示页面 */}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/dropdown-submenu.css" />
    <link rel="stylesheet" href="/assets/css/datepicker.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/assets/lib/easyui/themes/metro/easyui.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/admin.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <script src="/assets/lib/jquery-2.1.1.js"></script>
    <script src="/assets/lib/bootstrap.min.js"></script>
    <script src="/assets/lib/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/assets/lib/bootstrap-datepicker.js"></script>
    <script src="/assets/js/admin.js"></script>
</head>
<header class="navbar-inverse" id="top" role="banner" style="margin-bottom:20px;">
    <div class="navbar-header">
        <a class="navbar-brand" href="/auth/CleanRedirect" style="color:white">运营平台</a>
    </div>
    <nav class="collapse  navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            {/*<li class=""><a title="" href="#"><i class="icon icon-share-alt"></i> <span class="text">今日：{/date('Y-m-d')/}</span></a></li>*/}
            <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">{/Yii::app()->user->name/}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a target="_blank" href="http://speed.meilishuo.com/user/profile/"><i class="icon-user"></i> 个人信息</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="http://speed.meilishuo.com/time/time_manage"><i class="icon-check"></i> 我的日程</a></li>
                    <li class="divider"></li>
                    <li><a href="/site/logout"><i class="icon-key"></i> 退出登录</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="/site/logout"><i class="icon icon-share-alt"></i> <span class="text">退出登录</span></a></li>
        </ul>
    </nav>
</header>
<div id="content" class="span10" style="margin-left:100px;">
  <div class="pageTit page-header">
    <h1>提示消息</h1>
  </div>
  <div class="msgBox">
    <div class="message alert alert-{/$type/}" style="height:150px;">
      <div class="span1" style="padding-top:20px">
         <img alt="{/$type/}" src="/assets/images/{/$type/}.png">
      </div>
      <div class="span8">
        <div style="margin-left:10px;">
          <h1>
            {/$msg/}
          </h1>
          <span>
          {/if $redirect_url/}
            <a href="{/$redirect_url/}">点击此处跳转</a>（<em id="jumpTime">5</em>秒后自动跳转）
          {/else/}
            <a href="javascript:history.back();">返回上一页</a>
          {//if/}
          </span>
          <span>
              &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="/">返回主页</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div><!-- /content -->
{/if $redirect_url/}
<script type="text/javascript">
var time = 5;
var jumpInterval = setInterval(function(){
  time--;
  if (time < 0) time = 0;
  $("#jumpTime").text(time);
  if (time == 0) {
      clearInterval(jumpInterval);
      location.href = "{/$redirect_url/}";
  }
}, 1000);
</script>
{//if/}
{/include file="layouts/footer.tpl"/}
