.well {
    /*box-shadow: 0 10px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12) !important;*/
    background-color: white;
    border-radius: 0px;
    z-index: 1000;
}

button, .btn  {
    /*border-radius: 0;*/
}

.right {
	float: right;
}

.left {
	float: left;
}

.easyui-dialog div {
	border: 0 !important;
}

.breadcrumb {
	/*margin-bottom: 0;*/
}
.navbar-inverse {
	background-color: #474760;
	/*background-color: #f46;*/
	color: rgb(255,255,255);
}

.navbar-inverse .navbar-nav>li>a {
	color: rgb(255,255,255);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	/*background-color: #f36;*/
	background-color: #474760;
}

.btn-primary {
    background-color: #474760!important;
}