{/include file="layouts/header.tpl"/}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/checkTips">主题活动</a></li>
          <li class="active">{/if $tipInfo/}编辑原因{/else/}添加原因{//if/}</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form id="createForm" class="form-inline" enctype="multipart/form-data"  action="/checkTips/save" method="post">
        
        <input type="hidden" name="id" value="{/$tipInfo['id']/}">
        
        <!-- 展示控制 -->
        <div class="control-group">
          <blockquote><p>类型<small>必选</small></p></blockquote>
              {/html_radios name="type" options=CheckTipsManager::$tipsTypeEnum selected="{/$tipInfo['type']/}" separator="&nbsp;&nbsp;"/}
          <span class="help-inline"></span>
        </div>
        
        <!-- 内容 -->
        <div class="control-group">
          <blockquote><p>内容<small>必填</small></p></blockquote>
          <textarea class="require input-xxlarge form-control" name="content" id="postEdit">{/$tipInfo['content']/}</textarea>
          <span class="help-inline"></span>
        </div>
        
        <!-- 内容 -->
        <div class="control-group">
          <p></p>
          <input type="submit" class="btn btn-primary Sub createBtn" value="添加">
        </div>
      </form>
    </div>
  </div>
  

</div>
<script>
$(function(){
  $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
  }).on('changeDate', function(ev){
      $(this).datepicker('hide');
  });
});


$(function(){
  var isEdit = false;
  // 表单提交
  $('#createForm').submit(function(e){
    e.preventDefault();
    
    if ($('.createBtn').hasClass('disabled')) {
      alert('请稍等，正在保存');
      return false;
    }
    
    if ($('#createForm :radio[name="type"]:checked').length < 1) {
      showError($('#createForm :radio[name="type"]:last'), '请填类型！');
      return false;
    }
    
    if (!$.trim($('#createForm textarea[name="content"]').val())) {
      showError($('#createForm textarea[name="content"]'), '请填写内容！');
      return false;
    }
    
    $('.createBtn').addClass('disabled');
    $('#createForm').unbind().submit();
  });
});

/**
 * 显示错误信息
 */
function showError(obj, msg)
{
  if (obj.length) {
    var parentObj = obj.closest('.control-group');
    parentObj.addClass('error').find('.help-inline').text(msg)
    //obj.siblings('.help-inline').text(msg).closest('.control-group').addClass('error');
    obj.focus();
  }
  return obj;
}
</script>
{/include file="layouts/footer.tpl"/}