{/include file="layouts/header.tpl"/}
<style type="text/css">
.form-group {
    margin-bottom: 0px !important;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/">惊喜秒杀</a></li>
                <li class="active">秒杀统计</li>
            </ol>
            <div id="well" class="well pinned">
                <form class="form-inline" role="form" id="form">
                    <div class="form-group">
                        <label>日期：</label>
                        <input class="picker form-control" id="date" name="date"  type="text" value="{/$date/}"  data-date-format="yyyy-mm-dd">
                    </div>

                    <button id="submit" class="btn btn-default">查看</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>实际上线{/count($data[0])/}个商品</h4>
            <textarea class="form-control" rows="8">{/$online/}</textarea>
            <h4 style="margin-top:20px;">互斥表目前剩余{/count($data[1])/}个商品</h4>
            <textarea class="form-control" rows="8" >{/$campaign/}</textarea>
            <h4 style="margin-top:20px;">脑残商品不要排这{/count($data[2])/}个商品</h4>
            <textarea class="form-control" rows="8" >{/$naocan/}</textarea>
        </div>
    </div>

    <div class="row" style="margin-top:20px;margin-bottom:120px;">
        <div class="col-md-12">
            <h4 style="color:red">分析结论：{/if count($data[0]) == count($data[1])/}实际上线与互斥表商品数据一致{/else/}实际上线与互斥表商品数据不一致, 请根据下面提示仔细审查{//if/}</h4>
            <p>出现在线上, 但没有真实写入互斥表中的商品: {/implode(', ', $online_diff)/}</p>
            <p>排期成功, 但不会出现在线上的商品, 可能是退回失败的: {/implode(', ', $campaign_diff)/}</p>
            <h4 style="color:red">退回这几个脑残品: {/implode(', ', $naocan_diff)/}</h4>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.picker').datepicker({
format: "yyyy-mm-dd",
autoclose: true
}).on('changeDate', function(ev){
$(this).datepicker('hide');
});
</script>