{/include file="qingcang/layouts/header.tpl"/}
<script src="/assets/lib/bufferview.js"></script>
<script src="/assets/lib/jquery.pin.js"></script>
<title>复审</title>
<style type="text/css">
	.good_info {
		background-color: #eee;
	}
	.selected {
		background-color: #eee;
	}
	.shselected {
		background-color: #eee;
	}

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/">清仓</a></li>
                <li class="active">复审</li>
            </ol>
            <div id="well" class="well">
			    <form class="form-horizontal" role="form" id="form">
			    <input value="{/$event/}" type="hidden" class="form-control col-md-2" name="event">
			        <div class="form-group">
			        	<label class="col-md-1 control-label">宝贝筛选</label>
			            <div class="col-md-2">
			                <input value="{/$twitter/}" type="text" class="form-control col-md-2" name="twitter" placeholder="推ID">
			            </div>
			            <label class="col-md-1 control-label">店铺筛选</label>
			            <div class="col-md-2">
			                <input value="{/$shop/}" type="text" class="form-control col-md-2" name="shop" placeholder="ID">
			            </div>
			            <label class="col-md-1 control-label">一级类目</label>
			            <div class="col-md-2">
			                <select style="height:34px;" name="major" class="form-control">
			                    <option value="0">不限</option>
			                    <option {/if $catagory == '11801'/}selected{//if/} value="11801">女装</option>
			                    <option {/if $catagory == '11805'/}selected{//if/} value="11805">女包</option>
			                    <option {/if $catagory == '11803'/}selected{//if/} value="11803">女鞋</option>
			                    <option {/if $catagory == '11809'/}selected{//if/} value="11809">家具</option>
			                    <option {/if $catagory == '11807'/}selected{//if/} value="11807">配饰</option>
			                    <option {/if $catagory == '12313'/}selected{//if/} value="12313">美妆</option>
			                    <option {/if $catagory == '12511'/}selected{//if/} value="12511">男装</option>
			                    <option {/if $catagory == '12591'/}selected{//if/} value="12591">童装</option>
			                    <option {/if $catagory == '12661'/}selected{//if/} value="12661">食品</option>
			                </select>
			            </div>
			            <label class="col-md-1 control-label">区域</label>
			            <div class="col-md-2">
			                <select style="height:34px;" name="area" class="form-control">
			                    <option value="0">全部</option>
			                    <option {/if $area == '1'/}selected{//if/} value="1">华东</option>
			                    <option {/if $area == '3'/}selected{//if/} value="3">华南</option>
			                    <option {/if $area == '2'/}selected{//if/} value="2">华北</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			        	<label class="col-md-1 control-label">排序</label>
				        <div class="col-md-2">
				            <select  name="order_type" class="form-control">
				               <option value="">默认</option>{/html_options options=SearchManager::$orderInfo selected=$order_type/}
				          </select>
				      </div>
			            <label class="col-md-1 control-label">审核状态</label>
			            <div class="col-md-2">
			                <select name="realStatus" class="form-control">
			                    <option {/if $realStatus == 20/}selected{//if/} value="20">等待</option>
			                    <option {/if $realStatus == 40/}selected{//if/} value="40">成功</option>
			                    <option {/if $realStatus == 41/}selected{//if/} value="41">失败</option>
			                </select>
			            </div>
			            <label class="col-md-1 control-label">店铺类型</label>
			            <div class="col-md-2">
			                <select name="level" class="form-control">
			                    <option {/if $level == '#'/}selected{//if/} value="#">不限</option>
			                    <option {/if $level == '##'/}selected{//if/} value="##">签约商家</option>
			                    <option {/if $level == '0'/}selected{//if/} value="0">普通商家</option>
			                    <option {/if $level == '120'/}selected{//if/} value="120">120商家</option>
			                    <option {/if $level == '240'/}selected{//if/} value="240">240商家</option>
			                    <option {/if $level == '360'/}selected{//if/} value="360">360商家</option>
			                    <option {/if $level == '480'/}selected{//if/} value="480">480商家</option>
			                    <option {/if $level == '600'/}selected{//if/} value="600">600商家</option>
			                </select>
			            </div>
			            <label class="col-md-1 control-label">CS商家</label>
			            <div class="col-md-2">
			                <select style="height:34px;" name="cs_level" class="form-control">
			                    <option {/if $cs_level == '0'/}selected{//if/} value="0">否</option>
			                    <option {/if $cs_level == '1'/}selected{//if/} value="1">是</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <button style="margin-right: 16px;float: right;" id="exportBtn" type="button" class="btn btn-success">导出 <span class="glyphicon glyphicon-save"></span></button>
			            <button style="margin-right: 16px;float: right;" id="submit" class="btn btn-default">查看</button>
			        </div>
			    </form>
			</div>
        </div>
    </div>
    <div  class="row " >
        <div class="col-md-12 pinned" style="padding-bottom:10px;">
            <div style="padding-top:4px;color:#fd6699;font-size:18px">
                <span id="tool-tip-count">
                店铺数目:{/$total/}</span>&nbsp;&nbsp;&nbsp;&nbsp;当前选定商品:
                <span id="selected-count">0</span>
            </div>
            {/if $realStatus==20/}
            <p>提示：点击选定，批量通过或者退回
            <a id="refuse" style="margin-left:10px" class="pull-right btn btn-default refuse" data-toggle="modal" data-target="#failModal">全部退回</a>
            <a id="pass" class="pull-right btn btn-default pass" data-toggle="modal" data-target="#passModal">全部通过</a>
            {//if/}
            <input type="hidden" value="{/$event/}" id="eventid"/>
            </p>
            <p style="margin:0;"><label style="color:red;margin:0;">全选 <input type="checkbox" id="checkedAll"></label></p>
        </div>
    </div>
    {/include file="qingcang/second/second-content-detail.html"/}
    {/if $total> $count*$page/}
    	<div  class="row" style="height:80px;"><div class="col-md-12" style="text-align:center;"><button id="load" class="col-md-12 btn btn-default">加载更多</button></div></div>
    {//if/}
</div>

<!-- Modal -->
<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passModelTitle">全部通过</h4>
      </div>
      <div class="modal-body">
        {/foreach from=$pass_reason item=item key=key/}
        <div class="radio">
            <label>
                <input type="radio" name="passRadios" value="{/$item.content/}">
                {/$item.content/}
            </label>
        </div>
        {//foreach/}
        <input type="hidden" id="opt-shop-id" value="" />
        <input type="hidden" id="opt-event-id" value="" />
        <textarea id="passRadiosReason" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-pass" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="failModalLabel">全部退回</h4>
      </div>
      <div class="modal-body">
        {/foreach from=$fail_reason item=item key=key/}
        <div class="radio">
            <label>
                <input type="radio" name="failRadios" value="{/$item.content/}">
                {/$item.content/}
            </label>
        </div>
        {//foreach/}
        <input type="hidden" id="opt-shop-id" value="" />
        <input type="hidden" id="opt-event-id" value="" />
        <textarea id="failRadiosReason" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit-fail" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/qingcang/common.js"></script>
<script type="text/javascript" src="/assets/js/qingcang/second.js"></script>
{/include file="layouts/footer.tpl"/}